app/XML/meal/mealAdShow.dtd

<?xml version="1.0" encoding="UTF-8"?>
  <!ELEMENT categories (category+)>
  <!ELEMENT category (name, meal*)>
  <!ATTLIST category id CDATA #REQUIRED> 
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT meal (name, image, price, quantity)>
  <!ATTLIST meal id CDATA #REQUIRED> 
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT image (#PCDATA)>
  <!ELEMENT price (#PCDATA)>
  <!ELEMENT quantity (#PCDATA)>

    